.Main {
  height: 100%;
  display: flex;
  gap:100px;
  padding: 5%;
  background-color: #f9f9f9;
}
.App {
  font-family: Arial, sans-serif;
  width: 600px;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}
.List{
  display: flex;
  flex-direction: column;
}
li {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 5px;
}

li:last-child {
  border-bottom: none;
}


button {
  margin-left: 2px;
}

.button_Progress {
  background-color: #ffc107;
}

.button_Done {
  background-color: #28a745;
}

.button_delete {
  background-color: #dc3545;
}

.button_Progress:hover {
  background-color: #e0a800;
}

.button_Done:hover {
  background-color: #218838;
}

.button_delete:hover {
  background-color: #c82333;
}
